# macOS
.DS_Store

# vim
.swp
*~
*.swp
*.swo

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
build/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# misc
notes.txt

.data/

.testfiles/

*.pem

*.tar

node/test_data/go_example_image.tar

coverage.out
